.container.note_container {
    display: flex;
    grid-template-columns: 30% 50%;
    gap: 12%;
    position: center;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: centre;
    margin: auto;
}

input,
textarea {
    width: 1000px;
    position: centre;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
    text-align: left;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  height: 50px
}